//Copyright (C)2014-2025 Gowin Semiconductor Corporation.
//All rights reserved.
//File Title: Physical Constraints file
//Tool Version: V1.9.12 (64-bit)
//Part Number: GW2AR-LV18QN88C8/I7
//Device: GW2AR-18
//Device Version: C
//Created Time: Sat 04 25 12:58:13 2026

IO_LOC "PIN87_IOT30B" 87;
IO_PORT "PIN87_IOT30B" IO_TYPE=LVCMOS33 PULL_MODE=DOWN BANK_VCCIO=3.3;
IO_LOC "PIN20_IOL51B_LED5" 20;
IO_PORT "PIN20_IOL51B_LED5" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "PIN19_IOL51A_LED4" 19;
IO_PORT "PIN19_IOL51A_LED4" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "PIN17_IOL49A_LED2" 17;
IO_PORT "PIN17_IOL49A_LED2" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "PIN16_IOL47B_LED1" 16;
IO_PORT "PIN16_IOL47B_LED1" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "PIN15_IOL47A_LED0" 15;
IO_PORT "PIN15_IOL47A_LED0" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "PIN80_IOT27A" 80;
IO_PORT "PIN80_IOT27A" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "PIN42_IOB42B" 42;
IO_PORT "PIN42_IOB42B" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 HYSTERESIS=HIGH BANK_VCCIO=3.3;
IO_LOC "PIN18_IOL49B_LED3" 18;
IO_PORT "PIN18_IOL49B_LED3" IO_TYPE=LVCMOS33 PULL_MODE=UP HYSTERESIS=HIGH BANK_VCCIO=3.3;
IO_LOC "PIN04_IOL07A_LPLL1" 4;
IO_PORT "PIN04_IOL07A_LPLL1" IO_TYPE=LVCMOS33 PULL_MODE=NONE HYSTERESIS=HIGH BANK_VCCIO=3.3;
IO_LOC "PIN34_IOB24B" 34;
IO_PORT "PIN34_IOB24B" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "PIN41_IOB43A" 41;
IO_PORT "PIN41_IOB43A" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "PIN49_IOR49A" 49;
IO_PORT "PIN49_IOR49A" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "PIN13_IOL45A" 13;
IO_PORT "PIN13_IOL45A" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "PIN51_IOR45A" 51;
IO_PORT "PIN51_IOR45A" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "PIN40_IOB40B" 40;
IO_PORT "PIN40_IOB40B" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "PIN28_IOB08B" 28;
IO_PORT "PIN28_IOB08B" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "PIN32_IOB18B" 32;
IO_PORT "PIN32_IOB18B" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "PIN54_IOR38A" 54;
IO_PORT "PIN54_IOR38A" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "PIN57_IOR35A" 57;
IO_PORT "PIN57_IOR35A" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "PIN52_IOR39A" 52;
IO_PORT "PIN52_IOR39A" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "PIN56_IOR36A" 56;
IO_PORT "PIN56_IOR36A" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "PIN30_IOB14B" 30;
IO_PORT "PIN30_IOB14B" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "PIN26_IOB06B" 26;
IO_PORT "PIN26_IOB06B" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "PIN29_IOB14A" 29;
IO_PORT "PIN29_IOB14A" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "PIN48_IOR49B" 48;
IO_PORT "PIN48_IOR49B" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "PIN39_IOB40A" 39;
IO_PORT "PIN39_IOB40A" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "PIN27_IOB08A" 27;
IO_PORT "PIN27_IOB08A" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "PIN53_IOR38B" 53;
IO_PORT "PIN53_IOR38B" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "PIN55_IOR36B" 55;
IO_PORT "PIN55_IOR36B" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "PIN33_IOB24A" 33;
IO_PORT "PIN33_IOB24A" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "PIN25_IOB06A" 25;
IO_PORT "PIN25_IOB06A" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "PIN31_IOB18A" 31;
IO_PORT "PIN31_IOB18A" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "PIN85_IOT4B" 85;
IO_PORT "PIN85_IOT4B" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "PIN83_IOT6B" 83;
IO_PORT "PIN83_IOT6B" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "PIN82_IOT17A" 82;
IO_PORT "PIN82_IOT17A" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "PIN84_IOT6A" 84;
IO_PORT "PIN84_IOT6A" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "PIN81_IOT17B" 81;
IO_PORT "PIN81_IOT17B" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "PIN88_IOT30A" 88;
IO_PORT "PIN88_IOT30A" IO_TYPE=LVCMOS33 PULL_MODE=DOWN HYSTERESIS=HIGH BANK_VCCIO=3.3;
IO_LOC "PIN86_IOT4A" 86;
IO_PORT "PIN86_IOT4A" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "PIN77_IOT30A" 77;
IO_PORT "PIN77_IOT30A" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "PIN76_IOT30B" 76;
IO_PORT "PIN76_IOT30B" IO_TYPE=LVCMOS33 PULL_MODE=DOWN DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "PIN75_IOT34A" 75;
IO_PORT "PIN75_IOT34A" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "PIN63_IOR29A" 63;
IO_PORT "PIN63_IOR29A" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "PIN69_IOT50A" 69;
IO_PORT "PIN69_IOT50A" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "PIN71_IOT44A" 71;
IO_PORT "PIN71_IOT44A" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "PIN72_IOT40B" 72;
IO_PORT "PIN72_IOT40B" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "PIN74_IOT34B" 74;
IO_PORT "PIN74_IOT34B" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "PIN70_IOT44B" 70;
IO_PORT "PIN70_IOT44B" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "PIN73_IOT40A" 73;
IO_PORT "PIN73_IOT40A" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "PIN79_IOT27B" 79;
IO_PORT "PIN79_IOT27B" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "PIN11_IOL29B" 11;
IO_PORT "PIN11_IOL29B" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "PIN10_IOL29A" 10;
IO_PORT "PIN10_IOL29A" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
